<div class="card shadow-sm">
    <img class="bd-placeholder-img card-img-top" width="100%" src='{{"assets/images/" + book.img + ".jpg"}}'>
    <div class="card-body">
        <h5 class="card-title">{{book.name}}</h5>
        <p class="card-text">{{book.category}}</p>
        <p class="card-text">{{book.quantity}}</p>
        <p class="card-text">
            <small class="text-muted">{{book.price | currency: 'BRL'}}</small>
        </p>
        <div class="btn-group">
            <button type="button" class="btn btn-sm btn-primary">Buy</button>
            <button type="button"class="btn btn-sm btn-primary">Details</button>
        </div>
    </div>
</div>